<section class="author" itemprop="author">
  <div class="details" itemscope itemtype="http://schema.org/Person">
    <img
      itemprop="image"
      class="img-rounded"
      src="{{ site.url }}{{ site.baseurl }}/assets/img/profile-pic.jpg"
      alt="{{ authorname }}"
    />
    <p class="def">Author Informatioon</p>
    <h3 class="name">
      <a itemprop="name" href="https://github.com/{{ site.github_username }}">{{
        site.authorname
      }}</a>
    </h3>
    <p class="desc">{{ site.author_description }}</p>
    <p>
      <a
        href="https://www.facebook.com/damith.wanninayaka"
        title="FaceBook"
        class="fab fa-facebook bg-light text-center rounded-circle"
      ></a>
      <a
        href="https://twitter.com/damith84"
        title="Twiter"
        class="fab fa-twitter bg-light text-center rounded-circle"
      ></a>
      <a
        href="https://github.com/idotrick"
        title="GitHub"
        class="fab fa-github bg-light text-center rounded-circle"
      ></a>
      <a
        href="https://gitlab.com/idotrick"
        title="GitLab"
        class="fab fa-gitlab bg-light text-center rounded-circle"
      ></a>
      <a
        href="https://www.linkedin.com/in/dawalk"
        title="LinkedIn"
        class="fab fa-linkedin bg-light text-center rounded-circle"
      ></a>
      <a
        href="https://stackoverflow.com/users/story/2465608"
        title="StackOverflow"
        class="fab fa-stack-overflow bg-light text-center rounded-circle"
      ></a>
      <a
        href="https://plus.google.com/+DamithWanninayaka"
        title="Google+"
        class="fab fa-google-plus bg-light text-center rounded-circle"
      ></a>
      <a
        href="https://www.hackerrank.com/dwanninayaka"
        title="HackerRank"
        class="fab fa-hackerrank bg-light text-center rounded-circle"
      ></a>
    </p>
  </div>
</section>
