<section class="author" itemprop="author">
  <div class="details" itemscope itemtype="http://schema.org/Person">
    <img itemprop="image" class="img-rounded" src="{{ site.url }}{{ site.baseurl }}/assets/img/profile-pic.jpg" alt="{{ authorname }}">
    <p class="def">Author</p>
    <h3 class="name">
      <a itemprop="name" href="https://github.com/{{ site.github_username }}">{{ site.authorname }}</a>
    </h3>
    <p class="desc">{{ site.author_description }}</p>
    <p>
      <a href="https://www.facebook.com/damith.wanninayaka" title="FaceBook" class="fa fa-facebook bg-light text-center rounded-circle"></a>
      <a href="https://twitter.com/damith84" title="Twiter" class="fa fa-twitter bg-light text-center rounded-circle"></a>
      <a href="https://github.com/idotrick" title="GitHub" class="fa fa-github bg-light text-center rounded-circle"></a>
      <a href="https://gitlab.com/idotrick" title="GitLab" class="fa fa-gitlab bg-light text-center rounded-circle"></a>
      <a href="https://www.linkedin.com/in/dawalk" title="LinkedIn" class="fa fa-linkedin bg-light text-center rounded-circle"></a>
      <a href="https://stackoverflow.com/users/story/2465608" title="StackOverflow" class="fa fa-stack-overflow bg-light text-center rounded-circle"></a>
      <a href="https://plus.google.com/+DamithWanninayaka"  title="Google+" class="fa fa-google-plus bg-light text-center rounded-circle"></a>
    </p>
  </div>
</section>
