<footer class="page-footer d-flex justify-content-center">
    <div class="sm-bar">
        <a href="https://www.facebook.com/damith.wanninayaka" class="fa fa-facebook bg-light text-center rounded-circle"></a>
        <a href="https://twitter.com/damith84" class="fa fa-twitter bg-light text-center rounded-circle"></a>
        <a href="https://github.com/idotrick" class="fa fa-github bg-light text-center rounded-circle"></a>
        <a href="https://www.linkedin.com/in/dawalk" class="fa fa-linkedin bg-light text-center rounded-circle"></a>
        <a href="https://stackoverflow.com/users/story/2465608" class="fa fa-stack-overflow bg-light text-center rounded-circle"></a>
        <a href="https://plus.google.com/+DamithWanninayaka"  class="fa fa-google-plus bg-light text-center rounded-circle"></a>
    </div>
</footer>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
{% include stats.html %}
