.profile-desc {
    font-family: MontSerrat,Tahoma,Arial,sans-serif;
    color: #9a9a9a;
    width: 100%;
    text-align: center;
    position: relative;
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
}

.profile-desc h3 {
    color: #cacaca;
    font-size: 1.8em;
    line-height: 1em;
    font-weight: 700;
    letter-spacing: -1.5px;
    -moz-transition-delay: .4s;
    -o-transition-delay: .4s;
    -webkit-transition-delay: .4s;
    transition-delay: .4s;
}

.fa {
    color: black;
    width: 35px;
    padding: 10px 5px;
}

.fa:hover {
    opacity: 0.7;
}
header .fa:hover {
    color: white;
}

.sm-bar .fa:hover {
    color: black;
}

body, .bar-header {
    min-width: 340px;
}

.navbar-brand img {
    vertical-align: top;
}

.link-dark:hover {
    color: #ff435b;
}

.link-dark {
    color: #cacaca;
}

/*home-page style [start]*/
.home-page .content .profile-desc {
    z-index: 7;
    background-color: #141414;
    padding: 80px 10px 10px 10px;
}
.footer-fixed {
    z-index: 5;
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
}
/*home-page style [end]*/